.our-company {
  padding: 3% 6%;
  .dummy-text {
    width: 48%;
    font-size: calc(0.3rem + 1.3vw);
    letter-spacing: 0.2px;
    margin-top: -0.3em;
  }
  .img-container {
    width: 48%;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .our-company {
    .main-wrapper {
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;
      width: 87.5vw;
      .img-container,
      .dummy-text {
        width: 100%;
      }
      .dummy-text {
        margin-top: 1em;
        font-size: 2rem;
      }
    }

    .title {
      text-align: center;
    }
  }
}
